.allProductos {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 2px;

    /* quitar esta propiedad para ver el selector promociones */
    display: none;
 }

.allProductos__cabecera {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allProductos__titulo {
    font-size: 1.1rem;
    font-weight: 700;
}

.allProductos__link {
    align-items: center;
    color: #2A7AE4;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 600;
}

.allProductos__seleccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto__detalle-min {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.3rem;
    width: min-content;
}

.prdoucto__img {
    border-radius: 5px;
    height: 9rem;
    width: 9rem;
}

.producto__titulo {
    font-size: 0.8rem;
    padding: 0.3rem 0;
}

.producto__precio {
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.producto__link {
    color: #2A7AE4;
    font-size: 0.8rem;
    font-weight: 700;
}