.contacto {
    background: var(--background-mobile-azul);
    color: var(--fuente-blanco);
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.contacto__container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nav__log {
    display: none;
}

.contacto__empresa {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
}

.contacto__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.contacto__detalle, .contacto__mail, .contacto__whatsapp {
    align-items: center;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 10px 0;
}

.contacto__detalle, .contacto__mail-titulo, .contacto__whatsapp-titulo {
    font-size: 20px;
    font-weight: bold;
}

.contacto__formulario-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    width: 50vw;
}

.contacto__img {
    display: none;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.contacto__input {
    background: none;
    border: 2px solid rgb(77 181 255 / 40%);
    border-radius: 0.5rem;
    color: white;
    resize: none;
    width: 100%;
}

.contacto__input--invalid {
    border: 1px solid red;
    border-radius: 7px;
    color: red;
    font-size: 0.8rem;
  }

  .contacto__input-textArea {
    background: none;
    border: 2px solid rgb(77 181 255 / 40%);
    border-radius: 0.5rem;
    color: white;
    resize: none;
  }

.contacto__boton {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    transition: 1s;
    width: 100%;
}

.contacto__boton:hover {
    background: var(--background-mobile-azul);
    color: var(--fuente-blanco);
 }

@media screen and (min-width: 1024px) {

    .contacto__container {
        display: flex;
        flex-direction: row;
    }

    .contacto__formulario {
        width: 80%;
    }

    .contacto__boton {
        width: 30%;
    }

    .nav__log {
       display: flex;
    }

}
