.contacto {
    background: var(--background-mobile-azul);
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.contacto__container {
    display: flex;
    flex-direction: row;
}

.contacto__empresa {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
}

.contacto__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.contacto__detalle {
    max-width: 600px;
    padding: 10px 0;
}

.contacto__formulario-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
}

.contacto__img {
    display: none;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto__input {
    border-radius: 5px;
}

.contacto__boton {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    transition: 1s;
}

.contacto__boton:hover {
    background: var(--background-mobile-azul);
    color: var(--fuente-blanco);
 }

@media screen and (min-width: 768px) {

      .contacto__formulario {
        width: 50%;
    }

    .contacto__boton {
        width: 150px;
    }
    
}

