.detalleProducto {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.detalleProducto__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalleProducto__producto {
    display: flex;
}

.detalleProducto__imagen {
    border-radius: 8px;
    max-height: 70vh;
    width: 80vw;
}

.detalleProducto__descripcion {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalleProducto__titulo {
    font-size: 2rem;
    padding-bottom: 5px;
}

.detalleProducto__precio {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 5px;
}

.detalleProducto__texto {
    font-size: 0.9rem;
}

.detalleProductos__TituloSimilares {
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: 700;
}

.productos__similares {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

@media screen and (min-width: 768px){
    .detalleProducto__container {
        flex-direction: row;
    }

    .detalleProducto__imagen {
        width: 30vw;
        max-height: 70vh;
    }
}

@media screen and (min-width: 1024px){
    .detalleProducto__container {
        flex-direction: row;
    }

    .detalleProducto__imagen {
        width: 30vw;
        max-height: 80vh;
    }
}
