.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.footer__titulo {
    align-items: center;
    display: flex;
    font-family: var(--Montserrat);
    font-size: 0.8rem;
    font-weight: 700;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 1.5rem;
}

.footer__linkedin, .footer__github {
    width: 30px;
}

.footer__linkedin:hover{
    background: rgb(0, 255, 255);
    border-radius: 3px;
}

.footer__github:hover {
    background: rgb(0, 255, 255);
    border-radius: 6px;
}