.header {
    background: var(--background-mobile-azul);
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;
    margin: 10px 0;
}

.search-container{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
}

.nav__interaccion-home-botones {
    display: flex;
}

.nav__interaccion-home{
    color: white;
    padding-right: 2px;
}

.nav__interaccion-home:hover{
    border-radius: 50%;
    color: var(--background-mobile-azul);
    background: white;
}

.header__log-ingreso {
    display: flex;
    flex-direction: column;
}

.input-mensage-bienvenida {
    color: white;
}

.nav__log {
    display: none;
}

.nav__interaccion-btn {
    transition: 1s;
    width: 100px;
}

.nav__interaccion-btn:hover {
    background: var(--background-mobile-azul);
    color: var(--fuente-blanco);
}

@media screen and (min-width: 1024px) {

    .nav {
        height: 55px;
    }

    .nav__log {
        display: flex;
        border-radius: 15px;
        width: 90px;
    }
}