.nav {
    align-items: center;
    background: var(--background-mobile-azul);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px 10px;
}

.nav__log {
    border-radius: 15px;
    width: 90px;
}

.nav__interaccion-btn {
    transition: 1s;
    width: 100px;
}

.nav__interaccion-btn:hover {
    background: var(--background-mobile-azul);
    color: var(--fuente-blanco);
}

.nav__interaccion-busqueda {
    border-color: rgb(196, 196, 196);
    border-radius: 5px;
    height: 25px;
}

@media screen and (max-width: 320px) {
    .nav__log {
        display: none;
    }
}