.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem 0;

/* quitar esta propiedad para ver el selector promociones */
/*     display: none;
 */}

.login__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login__titulo {
    font-size: 1.1rem;
    font-weight: 700;
}

.login__usuario-container, .login__password-container{
    display: flex;
    flex-direction: column;
}

.login__usuario, .login__password {
    border: 2px solid rgba(0, 0, 255, 0.4);
    color: blue;
    height: 25px;
    margin: 0.4rem 0;
    width: 250px;
}

.login__buton {
    background: var(--boton-celeste-ceniza);
    color: var(--fuente-blanco);
    font-weight: 700;
    margin-top: 1rem;
    transition: 1s;
    width: 50%;
}

.login__buton:hover {
    background: var(--fuente-blanco);
    color: var(--boton-celeste-ceniza);
}