.nuevoProducto {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 0px;
    padding-bottom: 20px;
    width: 100%;   
}

.nuevoProducto__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
}

.nuevoProducto__titulo {
    font-size: 1.1rem;
    font-weight: 700;
}

.nuevoProducto__input-container {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.nuevoProducto__selectores {
    display: flex;
    flex-direction: column;
}

.nuevoProducto__input-categoria, .nuevoProducto__input-promocion {
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding: 3px;
}

.categoria, .promo {
    padding-right: 5px;
}

.nuevoProducto__buton {
    background: var(--boton-celeste-ceniza);
    color: var(--fuente-blanco);
    font-weight: 700;
    margin-top: 1rem;
    transition: 1s;
    width: 130px;
}

.nuevoProducto__buton:hover {
    background: var(--fuente-blanco);
    color: var(--boton-celeste-ceniza);
}

.nuevoProducto__input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 25px;
    margin: 0.2rem;
    width: inherit;
}


@media screen and (min-width: 768px){
    .nuevoProducto__container {
        width: 50%;
    }
}

@media screen and (min-width: 1024px){
    .nuevoProducto__container {
        width: 80%;
    }
    .nuevoProducto__input {
        margin: 0.3rem;
    }
}