.nuevoProducto {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 0px;
    padding-bottom: 20px;
    width: 100%;

        /* quitar esta propiedad para ver el selector promociones */
        display: none;
    
}

.nuevoProducto__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 50%;
}

.nuevoProducto__titulo {
    font-size: 1.1rem;
    font-weight: 700;
}

.nuevoProducto__buton {
    background: var(--boton-celeste-ceniza);
    color: var(--fuente-blanco);
    font-weight: 700;
    margin-top: 1rem;
    transition: 1s;
    width: 130px;
}

.nuevoProducto__buton:hover {
    background: var(--fuente-blanco);
    color: var(--boton-celeste-ceniza);
}

.nuevoProducto__input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 25px;
    margin: 0.5rem;
    width: inherit;
}