.productos {
    display: flex;
    flex-direction: column;

/* quitar esta propiedad para ver el selector promociones */
/*     display: none;
 */ }

.container {
    padding: 1px;
}

.productos__paneles, .productos__lamparas, .productos__accesorios, .productos__molinos {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.productos__cabecera {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productos__titulo {
    font-size: 1.1rem;
    font-weight: 700;
}

.productos__link {
    align-items: center;
    color: #2A7AE4;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 600;
}

.productos__seleccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto__detalle-min {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.3rem;
    transition: 1s;
}

.producto__detalle-min:hover {
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.05);
}

.prdoucto__img {
    border-radius: 5px;
    height: 9rem;
    width: 9rem;
}

.producto__titulo {
    font-size: 0.8rem;
    padding: 0.3rem 0;
}

.producto__precio {
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.producto__link {
    color: #2A7AE4;
    font-size: 0.8rem;
    font-weight: 700;
}


@media screen and (min-width: 768px) {
    
    .productos__seleccion {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: hidden;
    }

}

@media screen and (min-width: 1024px) {
    
    .productos__seleccion {
        flex-direction: row; 
    }


    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

}
