.promociones {
    align-items: flex-start;
    background: url(../img/panel_techo.jpg) center;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: flex-end;
    margin-top: 11px;
    padding-bottom: 15px;
    padding-left: 15px;
    top: 180px;
    width: -webkit-fill-available;
}

.promociones__acceso{
    background: rgba(220, 220, 220, 0.527);
    border-radius: 8px;
    padding: 1rem;
}

.promociones__titulo {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
}

.promoProducto__titulo {
    margin-bottom: 8px;
}

.promoProducto__precio{
    color: red;
    font-size: 14px;
    text-decoration-line: line-through;
}

.promoProducto__precioDescuento {
    font-size: 18px;
    font-weight: bold;
    margin: 3px 0;
}

.prmoProducto__descuento {
    background: powderblue;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 0;
}

.promociones__detalle {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.promociones__pag-btn {
    border-radius: 5px;
    margin-top: 1rem;
    transition: 1s;
}

.promociones__pag-btn:hover {
    background: var(--background-mobile-azul);
    color: var(--fuente-blanco);
}
