.promociones {
    align-items: flex-start;
    background: url(../img/panel_techo.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: flex-end;
    padding-bottom: 15px;
    padding-left: 15px;
    width: -webkit-fill-available;

    /* quitar esta propiedad para ver el selector promociones */
    display: none;
 }

.promociones__acceso{
    background: rgba(220, 220, 220, 0.527);
    border-radius: 8px;
    padding: 1rem;
}

.promociones__titulo {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
}

.promociones__detalle {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.promociones__pag-btn {
    margin-top: 1rem;
}

@media screen and (max-width: 320px) {
    .promociones__titulo {
        font-size: x-large;
    }

    .promociones__detalle {
        font-size: large;
    }
}



